@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  width: 480px;
  font-family: "Roboto";
  margin: 0 auto;
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1600px;
  }
}

.container {
  width: 450px;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.header__logo {
  font-size: 26px;
  font-weight: bold;
  font-family: "Raleway";
  color: #000000;
}

.header__logo span {
  color: #2196F3;
}

.mobile-burger-menu {
  display: block;
}
@media (min-width: 768px), (min-width: 1200px) {
  .mobile-burger-menu {
    display: none;
  }
}

.mobile-burger-menu__modal {
  position: absolute;
  width: 100%;
  top: 0;
}

.mobile-burger-menu__body {
  position: relative;
  margin: auto;
  height: 796px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 50px 50px;
}

.mobile-burger-menu__menu--list {
  display: flex;
  flex-direction: column;
  margin-bottom: 290px;
}

.mobile-burger-menu__menu--list a {
  font-size: 40px;
  color: #212121;
  margin-bottom: 30px;
}

.mobile-burger-menu__menu--list a:hover {
  color: #2196F3;
}

.mobile-burger-menu__contacts {
  margin-bottom: 30px;
}

.mobile-burger-menu__contacts--mail {
  margin-bottom: 30px;
}

.mobile-burger-menu__contacts--mail a {
  font-size: 34px;
  color: #2196F3;
}

.mobile-burger-menu__contacts--phone a {
  font-size: 24px;
  color: #757575;
}

.mobile-burger-menu__social--list {
  display: flex;
  justify-content: space-between;
}

.mobile-burger-menu__social--item {
  border-right: 1px solid black;
  padding-right: 15px;
}

.mobile-burger-menu__social--item a {
  font-size: 18px;
  color: #2196F3;
}

.mobile-burger-menu__social--item:last-child {
  border: none;
  padding: 0;
}

.header__menu {
  display: none;
}
@media (min-width: 768px), (min-width: 1200px) {
  .header__menu {
    display: block;
  }
}

.menu__list a {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
  margin-right: 50px;
}

.header a:last-child {
  margin-right: 0px;
}

.menu__list a:hover {
  color: #2196F3;
  cursor: pointer;
}

.header__contacts {
  display: none;
}
@media (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 0 30px;
  }
}
@media (min-width: 1200px) {
  .header__contacts {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
  }
}

.header__contacts a {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .header__contacts a {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .header__contacts a {
    font-size: 14px;
  }
}

.header__contacts--style {
  display: flex;
  align-items: center;
}

.mail::before {
  content: url("../img/icon/envelope.svg");
  padding-right: 7px;
  position: relative;
  top: 2px;
}

.phone::before {
  content: url("../img/icon/smartphone.svg");
  padding-left: 5px;
  padding-right: 7px;
  position: relative;
  top: 2px;
}

.header__contacts--style:hover {
  cursor: pointer;
}
.header__contacts--style:hover .phone {
  color: #2196F3;
}
.header__contacts--style:hover .phone::before {
  content: url("../img/icon/smartphone_blue.svg");
}
.header__contacts--style:hover .mail {
  color: #2196F3;
}
.header__contacts--style:hover .mail::before {
  content: url("../img/icon/envelope_blue.svg");
}

.title {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Title_bg_480.png) center/cover;
  padding: 115px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .title {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Title_bg_786.png);
  }
}
@media (min-width: 1200px) {
  .title {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img.png);
  }
}

.title__text {
  font-size: 26px;
  line-height: 42px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .title__text {
    font-size: 44px;
    line-height: 60px;
  }
}

.title__btn {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

.btn:hover {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  width: 100%;
  height: 100%;
}

.modal__body {
  position: relative;
  margin: auto;
  width: 450px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: #FFFFFF;
  text-align: center;
  padding: 0px 50px;
}
@media (min-width: 1200px) {
  .modal__body {
    width: 528px;
  }
}

.form__label {
  font-size: 12px;
  color: 757575;
  margin-bottom: 5px;
}

.modal_title {
  font-weight: bold;
  font-size: 20px;
  color: #212121;
  text-align: center;
  margin: 50px 0px 15px 0px;
}

.input__title {
  font-size: 12px;
  color: #757575;
  text-align: left;
  padding-left: 5px;
}

.form__label {
  display: block;
  text-align: left;
}

.form__input {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px 10px;
}

.form__input svg {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.form__input use {
  fill: #212121;
}

.form__input:focus-within {
  border: 1px solid #2196F3;
}
.form__input:focus-within use {
  fill: #2196F3;
}

.textarea {
  width: 100%;
  display: block;
  height: 120px;
  max-height: 120px;
  margin-bottom: 20px;
}

.form__polici {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.form__polici input {
  color: #212121;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  margin-top: -1px;
}
.form__polici p {
  color: #757575;
}
.form__polici a {
  color: #2196F3;
  text-decoration: underline;
}

.form__submit-btn {
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 15px 55px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
}

.modal_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.spesial__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
}
@media (min-width: 768px) {
  .spesial__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .spesial__list {
    flex-direction: row;
  }
}

.spesial__item {
  width: 450px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .spesial__item {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .spesial__item {
    width: 270px;
  }
}

.spesial__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 120px;
  background: #F5F4FA;
  margin-bottom: 30px;
}

.spesial__icon svg {
  width: 70px;
  height: 70px;
}

.spesial__item--title {
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px), (min-width: 1200px) {
  .spesial__item--title {
    text-align: left;
  }
}

.spesial__item--text {
  font-size: 14px;
  line-height: 24px;
}

.bisnes {
  display: none;
  padding-top: 90px;
}
@media (min-width: 768px) {
  .bisnes {
    display: none;
  }
}
@media (min-width: 1200px) {
  .bisnes {
    display: block;
  }
}

.bisness__title {
  font-size: 36px;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.bisnes__list {
  display: flex;
  justify-content: space-between;
}

.bisnes__item {
  position: relative;
  width: 370px;
  height: 294px;
  z-index: -1;
}

.bisnes__item--name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.bisnes__item img {
  width: 100%;
  height: 100%;
}

.team {
  padding-top: 90px;
  padding-bottom: 100px;
}

.team__title {
  font-size: 36px;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .team__list {
    flex-direction: row;
  }
}

.team__item {
  width: 450px;
  background-color: #FFFFFF;
  border: 1px solid #757575;
  box-shadow: 0px 2px 1px #000000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__item img {
  width: 100%;
  height: 460px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .team__item img {
    width: 100%;
    height: 374px;
  }
}
@media (min-width: 1200px) {
  .team__item img {
    width: 100%;
    height: 260px;
  }
}

.card__name {
  font-size: 16px;
  font-weight: bold;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

.card__title {
  font-size: 16px;
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
}

.team__item--social {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.team__item--social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.team__item--social__icon svg {
  width: 20px;
  height: 20px;
}

.team__item--social__icon use {
  fill: #AFB1B8;
}

.team__item--social__icon:hover use {
  fill: #ffffff;
  cursor: pointer;
}

.team__item--social__icon:hover {
  border-radius: 50%;
  background: #2196F3;
  cursor: pointer;
}

.client {
  margin-bottom: 60px;
}

.client__title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.client__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .client__item {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .client__item {
    width: 170px;
  }
}

.client__item:hover {
  border: 1px solid #2196F3;
  background: #2196F3;
}

.footer {
  background-color: #2F303A;
}

.footer__container {
  display: flex;
  align-items: center;
  padding: 60px 0;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    align-items: start;
  }
}

.footer__container--block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__container--block {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
  }
}

.footer__contact {
  margin-bottom: 50px;
}

.footer__logo {
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0 0 30px 0;
}

.footer__addres--item {
  padding-bottom: 16px;
  color: #757575;
}

.footer__addres--item:first-child {
  color: #FFFFFF;
}

.footer__addres--item:last-child {
  padding-bottom: 0px;
}

.team__item--social--footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.team__item--social--block {
  display: flex;
  justify-content: space-between;
}

.team__item--social--title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 25px;
}

.team__item--social__icon--footer {
  border: 1px solid #AFB1B8;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.team__item--social__icon--footer use {
  fill: #FFFFFF;
}

.footer__mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .footer__mail {
    flex-direction: column;
  }
}

.footer__mail--title {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__mail--input {
  display: block;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: inherit;
  margin-bottom: 15px;
  padding-left: 15px;
  color: #FFFFFF;
}

.footer__mail--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.footer__mail--btn::after {
  content: url(../img/icon/footer__mail--btnsvg.svg);
  padding-left: 10px;
}/*# sourceMappingURL=style.css.map */