@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap');

body {
    width: 1600px;
    font-family: "Roboto";
    background-color: #E5E5E5;
}

.container{
    margin: 0px auto;
    width: 1200px;
}
.header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.header__logo {
    font-size: 26px;
    font-weight: bold;
    font-family: "Raleway";
    color: #000000;
}

span {
    color: #2196F3;
}

.menu__list a{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    text-decoration: none;
    margin-right: 50px;
}

.header a:last-child{
    margin-right: 0px;
}

.menu__list a:hover {
    color: #2196F3;
    cursor: pointer;
}

.header__contacts {
    display: flex;
    gap: 0 30px;
}

.header__contacts a {
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    text-decoration: none;
    letter-spacing: 2px;
}

.header__contacts--style {
    display: flex;
    align-items: center;
}

.mail::before {
    content: url("../img/icon/envelope.svg");
    padding-right: 7px;
    position: relative;
    top: 2px;
}
.phone::before {
    content: url("../img/icon/smartphone.svg");
    padding-right: 7px;
    position: relative;
    top: 2px;
}

.header__contacts--style:hover {
    cursor: pointer;
    .phone{
        color: #2196F3;
    }
    .phone::before {
        content: url("../img/icon/smartphone_blue.svg");
    }
    .mail{
        color: #2196F3;
    }
    .mail::before {
        content: url("../img/icon/envelope_blue.svg");
    }
}

.filter__menu--list {
    margin: 95px 0 50px 0;
    display: flex;
    justify-content: center;

}

.filter__menu--item {
    display: inline-block;
    margin-right: 10px;
}

.filter__menu--button {
    padding: 13px 22px;
    background-color: #F5F4FA;
    color: #212121;
    font-size: 16px;
    border-radius: 4px;
}

.filter__menu--button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.filter__group--list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-bottom: 95px;  
}

.filter__group--item {
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 1px #000000;
    box-shadow: 0px 4px 4px #000000;
    box-shadow: 1px 4px 6px #000000;
}

.filter__group--item__img {
    position: relative;
    overflow: hidden;
}

.filter__group--item__img:hover {
    .filter__group--item__text {
        bottom: 0;
        visibility: visible;
        
    }
}

.filter__group--item img{
    width: 100%;
    height: 294px;
}

.filter__group--item__text {
    position: absolute;
    width: 100%;
    height: 294px;
    bottom: -100%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    padding: 65px 20px;
    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    transition: 0.4s;
}


.filter__group--item__title {
    color: #212121;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0px 20px 0px;
    padding-left: 20px;
}

.filter__group--item__project {
   color: #757575;
   font-size: 16px; 
   margin-bottom: 28px;
   padding-left: 20px;
}

.team__item--social {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.team__item--social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.team__item--social__icon svg {
    width: 20px;
    height: 20px;
}

use {
    fill: #AFB1B8; 
}

.team__item--social__icon:hover use {
    fill: #ffffff;
    cursor: pointer;                        
}

.team__item--social__icon:hover {
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer;  
}

.footer {
    background-color: #2F303A;
    height: 252px;
}

.footer__container {
    display: flex;
    align-items: center;
    padding: 50px 0 30px 0;
}

.footer__contact {
    margin-right: 30px;
}

.footer__logo {
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0 0 30px 0;
}

.footer__addres--item {
    padding-bottom: 16px;
    color: #757575;
}

.footer__addres--item:first-child {
    color: #FFFFFF;
}

.footer__addres--item:last-child {
    padding-bottom: 0px;
}

.team__item--social--footer {
    display: flex;
    flex-direction: column;   
}

.team__item--social--block {
    display: flex; 
    justify-content: space-between; 
}

.team__item--social--title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 25px;
}

.team__item--social__icon--footer {
    border: 1px solid #AFB1B8;
    border-radius: 50%;
    background: rgba(255, 255, 255, .1);
    margin-right: 10px;
}

.team__item--social__icon--footer use {
    fill: #FFFFFF;
}